.body{
    background-color: azure;
    color: whitesmoke;
}
.main_heading{
    color: purple;
    background-color: bisque;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 20px;
}
.question{
    color: black;
    background-color: papayawhip;
    border-radius: 10px;
    font-size: larger;
    display: inline-block;
    margin-left: 20px;
}
.code-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

pre {
    font-family: monospace;
    font-size: 14px;
    color: #333;
    white-space: pre-wrap;
}
